<html>
	<head>
		<title>Piren Panel</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<style>
			body {background-color: silver;}
			 table {
				border-radius: 10px;
				 margin: auto;
				 align: center;
				 font-family: arial, sans-serif;
				 border-collapse: collapse;
				 width: 80%;
			}
			 td:not([class=nopad]), th {
				text-align: left;
				 padding: 8px;
				 border: 2px solid black;
			}
			
			 th {background-color: gray;}
			 tr:nth-child(even) {background-color: #dddddd;}
			 tr:nth-child(odd) {background-color: white;}
			 #green {background-color: lime;}
			 #red {background-color: lightcoral;}
			 
			 .nopad {
				padding:0px;
				 margin: 0px;
				 border: 2px solid black;
			}
			 input {
				width: 100%;
				 height: 100%;
				 margin: 0px;
			}
			 button {
				align: center;
				 padding: 8px;
				 outline: none;
			}
			textarea {
				width: 100%;
				overflow-wrap: break-word;
				padding: 5px;
				resize: none;
			}
		</style>
	</head>
	<body>
		<h1 style='padding:20px;'>Piren Panel</h1>
		<table id="status">
			<tr>
				<th>Item</th>
				<th>Status</th>
			<tr>
		</table>
		<table id="change" style="margin-top: 50px;">
			<tr>
				<th>Setting</th>
				<th>Value</th>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<div style='margin-left:60%;display: inline-block;'>
			<button style='background-color:coral;font-weight:bold;' onclick="send_unlock();">Remote Door Unlock</button>
			<button style='background-color:coral;font-weight:bold;' onclick="send_override();">Remote Siren Override</button>
		</div>

		<script> 
			var oldseconds;
			var short_overriders;
			var change = false;
			setInterval(function(){test();}, 250); var timer = 0; function test() {
				$.get("status", function(data, status){ data = JSON.parse(data); d = new Date(); $("#status").html("<tr><th>Item</th><th>Status (updated at " + d.toLocaleTimeString() 
					+ ")</th></tr>");
					// Door Status
					var door_status = ""; if (data["door"]) { door_status = " id='red'>Open</td></tr>";
					} else {
						door_status = " id='green'>Closed</td></tr>";
					}
					$("#status").append("<tr><td>Door State</td><td" + door_status);
					// Postpone Button Status
					var post_status = ""; if (data["button"]) { post_status = " id='green'>Pressed (broken if stuck)</td></tr>";
					} else {
						post_status = ">Not Pressed</td></tr>";
					}
					
					// Siren Status
					var siren_status = ""; if (data["siren"]) { siren_status = " id='red' class='siren'>Sounding!</td></tr>";
					} else {
						siren_status = " id='green'>Off</td></tr>";
					}
					$("#status").append("<tr><td>Siren Status</td><td" + siren_status);
					// Time
					$("#status").append("<tr><td>Time To/Of Siren</td><td style='background-color: orange;'>" + data["time"] + "</td></tr>");
					// Override Time
					$("#status").append("<tr><td>Time Until Unoverride</td><td style='background-color: orange;'>" + data["otime"] + "</td></tr>");
					// Postpone Button
					$("#status").append("<tr><td>Postpone Button Status</td><td" + post_status);

					// Door Lock Status
					var door_lock_status = ""; if (!data["door_lock"]) { door_lock_status = " id='green'>Locked</td></tr>";
					} else {
						door_lock_status = " id='red'>Unlocked</td></tr>";
					}
					$("#status").append("<tr><td>Door Lock State</td><td" + door_lock_status);

					// Priveleged Override
					var override_status = ""; if (data["overridden"]) { override_status = " id='green'>Overridden since " + data["override_time"] + "</td></tr>";
					} else {
						override_status = ">N/A</td></tr>";
					}
					$("#status").append("<tr><td>Siren Override Status</td><td" + override_status);
					$("#status").append("<tr><td>CPU Temperature</td><td>" + data["temperature"] + "&deg;C</td></tr>");
					
					// Seconds
					if (data["delay"] != oldseconds || data["short_overriders"].join() != short_overriders.join()) {
						$("#change").html("<tr><th>Settings</th><th>Value</th></tr>");
						$("#change").append("<tr><td>Delay (Seconds)</td><td><input id='delay' type='number' min='0' max='86400' value=" + data["delay"] + "></input></td></tr>");
						$("#change").append("<tr><td>1hr, One Time Overriders (commas)</td><td><textarea id='short_overriders' type='text'>" + data["short_overriders"] + "</textarea></td></tr>");
						$("#change").append("<tr><td>4hr, Unlimited Overriders (commas)</td><td><textarea id='long_overriders' type='text'>" + data["long_overriders"] + "</textarea></td></tr>");
						$("#change").append("<tr><td>Door Unlockers</td><td>All of the above</td></tr>");
						
						oldseconds = data["delay"];
						short_overriders = data["short_overriders"];
						long_overriders = data["long_overriders"];
					
						$("#change").append("<button onclick='send_form();'>Update</button>");
					}
				})
				
				var text = document.getElementById('short_overriders');
				text.style.height = 'auto';
				text.style.height = text.scrollHeight+5+'px';
				var text = document.getElementById('long_overriders');
				text.style.height = 'auto';
				text.style.height = text.scrollHeight+5+'px';
			}
			
			function send_form() {
				$.post("update", {delay: $("#delay").val(), short_overriders: $("#short_overriders").val(), long_overriders: $("#long_overriders").val(), password: prompt("password:")}, function(data, status){alert("Data: " + data + "\nCommunication: " + status);});
			}
			
			function send_unlock() {
				$.post("unlock", {unlock: true, password: prompt("This will unlock the door open button for 30 seconds.\npassword:")}, function(data, status){if (data != "unlocked") {alert("Data: " + data + "\nCommunication: " + status);}});
			}

			function send_override() {
				$.post("override", {override: true, password: prompt("This will override the Piren until closed.\npassword:")}, function(data, status){alert("Data: " + data + "\nCommunication: " + status);});
			}
		</script>
	</body>
</html>
